<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>   
    The original Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>, 
    "Two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality."
  </p>
  <br />
  <p>
    This iteration was made by <a target="_blank" href="https://juliansmith.netlify.com/">Julian Smith</a>. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'julian.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Julian Smith</h2>
      <br />
      <p>
        Julian Smith is a novice web developer. He has been coding as part of his game development hobby for the last several years. His first language was UnityScript 
        (which is <a target ="_blank" href="https://blogs.unity3d.com/2017/08/11/unityscripts-long-ride-off-into-the-sunset/">going the way of the Dodo</a>), followed by 
        <a target = "_blank", href="https://docs.microsoft.com/en-us/dotnet/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework"> C# </a>. 
      </p>
    </div>
  </div>
  
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>